rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{folder}/{allPaths=**} {
      allow read: if ( isAuth() && isAdmin()) || folder != "bill";
      allow write: if isAuth() && isAdmin(); 
		}

     function isAuth(){
        return request.auth != null;
    }

    function isAdmin(){
      return request.auth.token.role == "admin"
    }
  }
}

