@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@100..900&display=swap");

@font-face {
  font-family: "Noto Sans Ethiopic";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansethiopic/v47/7cHAv50vjIepfJVOZZgcpQ5B9FBTH9KGNfhSTgtoow1KVnIv4gckut2Q.woff2) format("woff2");
  unicode-range:
    U+030E, U+1200-1399, U+2D80-2DDE, U+AB01-AB2E, U+1E7E0-1E7E6, U+1E7E8-1E7EB,
    U+1E7ED-1E7EE, U+1E7F0-1E7FE;
}

*,
*::before,
*::after {
  font-family: "Instrument Sans","Noto Sans Ethiopic", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 22, 91%, 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 164, 86%, 20%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 38 91% 50%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

   body { 
     @apply bg-background text-foreground; 
   } 
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-gradient: linear-gradient(301deg,
      #f45f0b 0%,
      #f49e0b 47.23%,
      #f49e0b 100%);
}

input,
button,
textarea {
  outline: none;
}

.bg-gradient {
  background-image: var(--main-gradient);
}

.spinner {
  -webkit-animation: spinnerAnimation 1.2s steps(32) infinite;
  animation: spinnerAnimation 700ms steps(32) infinite;
}

@-webkit-keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.phone-input {
  @apply w-full flex border border-neutral-300 rounded-md focus-within:border-blue-500 shadow;
}

.phone-input .react-international-phone-country-selector-button {
  border: none;
  height: 100% !important;
  padding: 8px;
  @apply bg-slate-200;
}

.phone-input input {
  border: none !important;
  flex-grow: 1;
  font-size: 16px !important;
  height: auto !important;
  padding: 8px !important;
  min-width: 0;
  /* @apply py-2 !important px-1; */
}
