@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-gradient: linear-gradient(
    301deg,
    #f45f0b 0%,
    #f49e0b 47.23%,
    #f49e0b 100%
  );
}

input,
button {
  outline: none;
}

.bg-gradient {
  background-image: var(--main-gradient);
}

.spinner {
  -webkit-animation: spinnerAnimation 1.2s steps(32) infinite;
  animation: spinnerAnimation 700ms steps(32) infinite;
}

@-webkit-keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.phone-input {
  @apply w-full flex border border-neutral-300 rounded-md focus-within:border-blue-500 shadow-sm;
}

.phone-input .react-international-phone-country-selector-button {
  border: none;
  height: 100% !important;
  padding: 8px;
  @apply bg-slate-200;
}

.phone-input input {
  border: none !important;
  flex-grow: 1;
  font-size: 16px !important;
  height: auto !important;
  padding: 8px !important;
  min-width: 0;
  /* @apply py-2 !important px-1; */
}
